{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}

<table class="table table-hover">
    <thead>
        <th class="active">设备ID</th>
        <th class="active">类型</th>
        <th class="active">版本</th>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr class="success">
            <td><a href="{{ url_for("device", id = device.device_id) }}">{{ device.device_id }}</a></td>
            <td>{{ device.device_type }}</td>
            <td>{{ device.ver }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
